cffi==1.16.0
distlib==0.3.8
filelock==3.13.1
keyboard==0.13.5
MouseInfo==0.1.3
Pillow==10.1.0
platformdirs==4.1.0
PyAutoGUI==0.9.54
pycparser==2.21
pygame==2.5.2
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pytweening==1.0.7
pywin32==306
sounddevice==0.4.6
virtualenv==20.25.0
